<?xml version="1.0"?>
<configuration>
	<appSettings>
	<add key="Wrapper.ConsumerKey" value="YOUR_KEY_HERE"/>
	<add key="Wrapper.ConsumerSecret" value="YOUR_SECRET_HERE"/>
	<add key="Wrapper.BaseUrl" value="http://api.7digital.com/1.2"/>
	<add key="Wrapper.SecureBaseUrl" value="https://api.7digital.com/1.2"/>

	<!-- NOTE: These will need to be filled in for the 3 legged oauth tests to pass-->
		<add key="Integration.Tests.AccessToken" value=""/>
		<add key="Integration.Tests.AccessTokenSecret" value=""/>
	</appSettings>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
