<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="7digital.ConsumerKey" value="your_key_here" />
    <add key="7digital.ConsumerSecret"  value="your_key_here" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>